hi I'm home.
<br>
Happy Happy Joy!
<hr>
<h1>  <%= @user.name %>   </h1>
then i can go cool places like this:    <br>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRdlnBGIBUyTZeQrKYn4E7CvIGUIfv10zY3LlGeYwxfzZ3LVDmw9g" alt="woah!">

<%= link_to('Logout', logout_path) %>